body {
  font-family: "Raleway", sans-serif !important;
  color: #555555;
  background: #f2f2f2;
  font-size: 1rem;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Quicksand", sans-serif !important;
}

p {
  font-family: "Raleway", sans-serif !important;
}